<ion-content class="ion-padding bg-color-p login-page">
    <ion-grid class="h-100">
        <ion-row class="h-100 d-flex align-items-center justify-content-center">
            <!-- <ion-col class="p-0"></ion-col> -->

            <ion-col size-xs="12" size-sm="12" size-md="8" size-lg="6" size-xl="6" class="p-0 glass-bg side-padding">
                <!-- <div class="height-164 mt-50 mb-30">
                </div> -->

                <div class="text-center mb-16 font-xxl">
                    Forgot Password
                </div>

                <form [formGroup]="forgotPasswordForm">
                    <ion-item class="input-item mb-16"
                        [class.err]="email.touched && email.invalid && email.errors.required">
                        <ion-icon name="mail-outline"></ion-icon>
                        <ion-input type="text" formControlName="email"></ion-input>
                    </ion-item>

                    <div class="text-center mb-16">
                        <ion-button expand="block" (click)="onSubmit()" [disabled]="!forgotPasswordForm.valid"
                            class="mr-0 ml-0 height-56 text-capitalize font-s-18 theme-button">
                            Send Reset link
                        </ion-button>
                    </div>
                </form>

                <ion-row>
                    <ion-col class="p-0"></ion-col>

                    <ion-col class="text-right p-0 mr-1">
                        <a routerLink="/login" class="decoration-none theme-color">
                            Login
                        </a>
                    </ion-col>
                </ion-row>
            </ion-col>

            <!-- <ion-col class="p-0"></ion-col> -->
        </ion-row>
    </ion-grid>

</ion-content>